

* {
    font-family:'open Sams', sams-serif;
}

body{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: black;
color: white;

}
button{
height: 40px;
width: 40px;
border-radius: 50%;
border: 1px solid rgb(239, 12, 12);
background-color: rgb(241, 214, 214);
color: blue;
font-size: 12pt;
font-weight: 600;
text-align: center;

}

#countre {

    display: flex;
}


